<div class="col-10 offset-1 about">
  <h1>About Splurty </h1>

<p>
    Splurty was built by Tristan Beasley
  </p>
  <br />
  <p>
    He is a student in the firehose Program.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  </p>

</div>
<br class="clear" />
<br  />
<br  />
<br  />
<br  />